.link-container {
  margin: 10% 5%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  
  .link {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    padding: 3% 0;
  }

  .link:hover{
    cursor: pointer;
  }
}
