<div class="container">
    <h3 class="title">Reservations next {{daySpan}} days</h3>
    <div class="table-container">
        <div class="thead-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Customers</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tbody-container" class="tbody-container">
            <table>
                <tbody>
                    <tr *ngFor="let r of reservationsForView"
                        class="oddDay-{{r.oddReservation}} {{r.id == selectedReservationId ? 'selected' : ''}}"
                        (click)="selectReservation(r.id)">
                        <td>{{r.date}}</td>
                        <td>{{r.time}}</td>
                        <td>{{r.customers}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>