<div class="container">
    <div class="form">
        <div class="form-group">
            <div class="label-container"><label>Customers</label></div>
            <input type="number" #customers>
        </div>
        <div class="form-group">
            <div class="label-container"><label>Date</label></div>
            <input type="date" #date>
        </div>
        <div class="form-group">
            <div class="label-container"><label>Time</label></div>
            <select #time>
                <option *ngFor="let time of timesToChooseFrom">{{time.toLocaleTimeString("nl").substring(0, 5)}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <div class="label-container"><label>Name</label></div>
            <input type="text" #name>
        </div>
        <div class="form-group">
            <button (click)="clearFields(customers, date, time, name)">Clear</button>
            <button id="save-btn" (click)="saveReservation(customers.value, date.value, time.value, name.value)">Save</button>
        </div>
    </div>
</div>

<p [hidden]="failureNotificationHidden" class="notification error" #failure (click)="hideNotification(failure)">
    Reservation failed</p>